
<app-navbar></app-navbar>

<div class="container centered">
    <div class="row">
        <div class="col">
            <h1 style="text-align: center;">Buscador peliculas con ElasticSearch</h1>


            <mat-form-field class="search-form field col-12">
              <input class="col-12" name="search" matInput [(ngModel)]="aux" placeholder="Nombre de pelicula" (keyup)="probando()" [matAutocomplete]="auto">
              <mat-autocomplete #auto="matAutocomplete">
                <mat-option *ngFor="let option of movies | filter:aux" [value]="option.title" (click)="selection(option)">
                  {{option.title}} 
                </mat-option>
              </mat-autocomplete>
            </mat-form-field>

            
              <div class="mat-elevation-z8">

                <mat-table [dataSource]="listData" matSort>

                    <ng-container matColumnDef="name">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Nombre</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.title}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="duration">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Duracion</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.duration}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="date">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Fecha de Estreno</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.date_added}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="rating">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Calificacion</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.rating}}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="type">
                      <mat-header-cell *matHeaderCellDef mat-sort-header>Tipo</mat-header-cell>
                      <mat-cell *matCellDef="let element">{{element.type}}</mat-cell>
                    </ng-container>



                        <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>

                        <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                      </mat-table>


                    </div>

        </div>
    </div>
</div>


